APP_PORT=8080
MONGO_URI=mongodb://localhost:27017
MONGO_DB=employee_platform
JWT_SECRET=change_this_super_secret
FRONTEND_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=faroff87@gmail.com
SMTP_PASS=uuegpnmkpqtxhkev
SMTP_FROM=faroff87@gmail.com